#box{
	width: 1200px;
	height: 400px;
	top: 100px;
	left: 80px;
	position: relative;
	overflow: hidden;
}
#left{
	left: 30px;
}
#right{
	right: 30px;
}
.slider{
	width: 8400px;
	position: absolute;
}
.slide{
	width: 1200px;
	overflow: hidden;
	float: left;
}
#box>span{
	width: 30px;
	height: 50px;
	text-align: center;
	top: 170px;
	background-color:red;
	font-size: 30px;
	position: absolute;
}
.nav{
	position: absolute;
	left: 400px;
	bottom: 50px;
}
.nav>li{
	float: left;
	width: 20px;
	height: 20px;
	line-height: 20px;
	text-align: center;
	background: white;
	margin-left: 50px;
}
.nav .active{
	background: red;
}